* {
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* //////////////////////////////////////////////////////////// */
.navn {
  text-decoration: none;
  color: #ffffff;
}
.navn:hover {
  transition: 0.2s ease;
  color: #ffffff;
}

.text {
  word-spacing: 10px;
}

.nnvv {
  background-color: #1572a1;
}
.navna {
  text-decoration: none;
  color: #000;
}

/* ////////////////////////////////////////////////////////
************************** Card ************** */
.article {
  height: 200px;
  width: 325px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.subCard {
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardImg {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.shadow {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #565555 0%, rgba(196, 196, 196, 0) 100%);
  z-index: 7;
}
.cardHeader {
  color: white;
  position: absolute;

  bottom: 0;
  width: 100%;
  text-align: center;
}
/* //////////////////////////////////////////////////// */
.homeImg {
  width: 100%;
  height: 500px;
}

.sin {
  background-color: #1572a1;
  border: none;
  color: white !important;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
  text-decoration: none;
}

.sin:hover {
  border-radius: 20px;
  background-color: #161a21;
  margin-left: 20px;
}
.ss:hover {
  color: rgb(255, 255, 255) !important;
  transform: scale(1.03);
}

.userr {
  color: #ffffff;
  transition: 0.3s ease;
  font-size: 17px;
}

.userr:hover {
  color: #282c34;
}

.log {
  width: 30px;
  height: 30px;
}
