/* .App1{
  background-image: url("https://img.freepik.com/free-vector/minimal-white-gray-background-with-wavy-lines_1017-25099.jpg?w=2000");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  width: 100%;
}

.App1::before{
  content:'';
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:url(http://lorempixel.com/1600/800/nature/1) fixed center;
  filter:blur(4px);
  background-size:100vw auto;
  
  box-shadow:inset 0 0 0 50vw rgba(255,255,255,0.2)
} 
*/

.App1 {
  padding:6vw ;
  position:relative;
}
.App1:before{
  content:'';
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:url("https://img.freepik.com/free-vector/minimal-white-gray-background-with-wavy-lines_1017-25099.jpg?w=2000") fixed center;
  filter:blur(5px);
  opacity: 0.42;
  background-size:100vw auto;
  box-shadow:inset 0 0 0 50vw rgba(255,255,255,0.2)
}


.btn1 {
  background: #202142 !important;
  margin: 10px;
  color: rgb(255, 250, 250) !important;
}
.post {
  width: 18rem;
  margin: 30px;
  display: flex;
  margin-left: 500px;
}
.like {
  width: 30px;
  right: 30px;
}
.like:hover {
  transform: scale(1.1, 1.1);
}
.lll {
  text-decoration: none;
}
.ttt {
  background-color: rgb(255, 255, 255) !important;
}
.nnnz {
  top: 100px !important;
  margin-top: 100px;
}
.dda {
  margin-top: 50px;
}
.ffa {
  margin-left: -250 !important;
}
.ssa {
  height: 50px !important;
  width: 50px !important;
  border-radius: 150px !important;
}
.dada {
  margin: 20px;
  margin-left: 250px;
}
.ssd {
  margin: 20px;
}
.postt {
  margin: 10px;
}
.dropdown-menu.show {
  margin-left: -250 !important;
}
/* /////////////////////////////////////// */
.aaaa {
  margin-left: 300px;
}

/* .dropdown-menu.show {
  display: block;
  margin-left: -230px;
} */
