.btn1 {
  background: #202142 !important;
  margin: 10px;
  color: rgb(255, 250, 250) !important;
}
.post {
  width: 18rem;
  margin: 30px;
  display: flex;
  margin-left: 500px;
}
.like {
  width: 30px;
  right: 30px;
}
.like:hover {
  transform: scale(1.1, 1.1);
}
.lll {
  text-decoration: none;
}
.ttt {
  background-color: rgb(255, 255, 255) !important;
}
.nnnz {
  top: 100px !important;
  margin-top: 100px;
}
.dda {
  margin-top: 50px;
}
.ffa {
  margin-left: -250 !important;
}
.ssa {
  height: 50px !important;
  width: 50px !important;
  border-radius: 150px !important;
}
.dada {
  margin: 20px;
  margin-left: 250px;
}
.ssd {
  margin: 20px;
}
.postt {
  margin: 10px;
}
.dropdown-menu.show {
  margin-left: -250 !important;
}
/* /////////////////////////////////////// */
.aaaa {
  margin-left: 300px;
}

/* .dropdown-menu.show {
  display: block;
  margin-left: -230px;
} */
