.featured{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

#num{
  font-size: 200px ;
  float: right;
  position: absolute;
  text-align: right;
  width: 100%;
  padding-right: 20px;
  top: -15px;
  opacity: 0.1;
}

.img_dis{
  display: block;
  height: 100px;
}

.img{
  float: left;
  width: 90px;
  height: 90px;
  margin: 5px;
  margin-left: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 999;
  transition: 0.4s ease;
}

.img:hover{
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.c_name{
  text-align: left;
  padding-left: 10px;
  padding-top: 110px;
}

.text{
  padding-top: 65px;
  color: rgb(87, 87, 87);
}