.homeImg {
  width: 100%;
  height: 500px;
}

.container {
  margin: 0 auto;
  max-width: 1200px !important;
  text-align: center;
}
/* //////////////////////// */

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.fildcard {
  justify-content: space-around;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
  height: 200px;
  text-align: center;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fildcard img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.4);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.fildcard h5 {
  bottom: 0;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fildcard p {
  color: #fff;
  padding: 0 25px 0px 25px;
}
/* ///////////////////////// */
