.homeImg {
  width: 100%;
  height: 90vh;
  background-image: url("https://scontent.fgza4-1.fna.fbcdn.net/v/t1.15752-9/288543257_571449750994858_5294241546196580921_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=FztB922Y7WQAX9FJKb1&_nc_ht=scontent.fgza4-1.fna&oh=03_AVJQUL0Dp44E_4hdd1mzjFvvfy2VNsempdFjoafB09VELQ&oe=62D6A18D");
  background-size: cover;
  background-position: "center" "center";
  background-attachment: fixed;
  /* filter: blur(2px); */
}

.container {
  margin: 0 auto;
  max-width: 1200px !important;
}

.topic {
  position: absolute;

  float: center !important;
  left: 0px;
  transform: translate(-50%, -50%);
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0, 0, 0, 0.4);
  color: linear-gradient(
    130deg,
    #ff7a18,
    #af002d 41.07%,
    #319197 76.05%
  ) !important;
  font-weight: bold;
  border: 3px solid #373a40;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  padding: 20px;
  text-align: center;

  top: 270px !important;
  /* top: 50%;
     left: 33%;
    top: 50%;
    left: 50%; */

  font-size: 2.25rem;
  font-weight: 700 !important;
  /* text-transform: uppercase !important; */
  margin-left: 13% !important;
  margin-right: 8% !important;
  margin-bottom: 0.5rem;
  font-weight: 500;
  /* line-height: 1.2; */
  margin-top: 0;
  text-align: center !important;
  margin: 0;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  /* filter: blur(5px);  */
}
/* //////////////////////// */

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

#field{
  width: 100%;
  align-items: center;
  align-self: center;
}

.fildcard {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 31.1%;
  border-radius: 15px;
  z-index: 1;
  margin:13px;
  height: 240px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.2s ease;
}

.Fields{
  margin:30px 0;
}

.fildcard:hover {
  transform: scale(1.04, 1.04);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fildcard img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.4);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.fildcard h5 {
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 25px;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.fildcard p {
  color: #fff;
  padding: 0 25px 0px 25px;
}
/* ///////////////////////// */
