.div1 {
  overflow-y: scroll;
  height: 2500px;
}
.div2 {
  left: 90%;
  bottom: 40px;
  height: 40px;
  font-size: 3rem;
  z-index: 1;
  color: green;
  position: fixed;
  background-color: black !important;
  border-radius: 50% !important;
  border-color: "none" !important;
}
