@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  box-sizing: border-box;
}

.gorm {
  margin-top: 0px;
  background: #ffffff !important;
  font-family: "Fira Sans", sans-serif;
  /* border-radius: 20px;
  box-shadow: 0 0px 10px rgba(134, 134, 134, 0.7);
  /* border-color: #0071ce !important; */

  /* background: linear-gradient(
    92.48deg,
    rgba(82, 170, 221, 0.651) 0.08%,
    #7387ce 117.25%,
    #ffffff 2.08%
  ) !important; */

  margin-left: 800px;
  margin-top: -630px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}
body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}
.underLinee {
  font-size: 15px;
}

#tsparticles {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.buttono {
  background-color: #0071ce;
  border: none;
  color: white !important;
  padding: 5px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.5s ease;
  letter-spacing: 2px;
  text-decoration: none;
  justify-content: center;
  left: 20px;
}
.buttono:hover {
  background-color: #15a9f3;
  transform: scale(1.03);
}

.imgg {
  width: 50%;
  height: 100vh;
  right: 50px;
  margin-left: -700px;
}
.ffff {
  color: rgb(6, 17, 173) !important;
}
.dadaa {
  color: rgb(59, 138, 228);
}
