.workers {
  display: flex;
}

.search{
  width: 100%;
}

.workerss{
  display: flex;
  flex-direction: row;
}

.mainFiltersWorkers {
  width: 25%;
  background-color: #ececec;
  height: 80vh;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 100;
}

.mainFiltersWorkers * {
  margin: 0;
}

.titleFilters {
  font-size: 20px;
  font-weight: bold;
  left: 50px;
}

.mainFiltersWorkers input {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  width: 80%;
  height: 20px;
  padding: 5px;
  padding-left: 7px;
  border-radius: 3px;
}

.mainFiltersWorkers button {
  margin-top: 10px;
  width: 40%;
  padding: 10px;
  border-radius: 3px;
  background-color: #1b1b1b;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.mainWorkers {
  /* background-color: red; */
  width: 100%;
  padding-top: 35px;
}

.fff {
  left: 34px;
  top: 473px;
  transition: 0.3s ease;
  background: #1572a1 !important;
  border-radius: 6px;
}

.fff:hover {
  background: #1572a1;
  color: white;
  transform: scale(1.03);
}

.Filters p {
  text-align: left;
  padding-left: 22px;
}